engine-strict=true
registry=https://registry.npmjs.org
shamefully-hoist=true
FAST_FOLDER_SIZE_DU_ZIP_LOCATION=/resource/du.zip
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
encrypt_key=68caed2d36cfa3b34d79a9365218eede
encrypt_id=bd4147b2c3e64534da8344f9939b291bc52f716b141508abdc9cddc15a6083b4
encrypt_sec=de1584d70edf4d2e8a1c93db5822f5fb1374fe0a1ad9fbef5985dba28ce1203837b86f854727b06d1ca1b9dd472041d5